@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
   
}

body *{
    box-sizing: border-box;
    text-decoration: none;
}

.fix-container{
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 30px;
}

.header{
    background-color: black;
    font-size: 11px;
    line-height: 15px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px; 
    text-transform: uppercase;   
}

.header-logo{
    color: #E3B873; 
}

.header-tel{
    color: #E3B873;
    text-decoration: underline;
}

.button{
    background-color: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    text-transform: uppercase;
    border: 0;
    text-align: center;
    font-family: 'Nunito Sans';
    margin-left: 0px;
}

.button_request{
    display: none;
}

.button-main{
    height: 51px;
    width: 207px;
    font-size: 13px;
    line-height: 27px;
}

.button-transparent{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    margin-left: 20px;
}

.button-play{
    background-color: #E3B873;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    border: 0;
    position: absolute;
    z-index: 1;
    top: 39%;
    left: 46.5%;    
}

.button, .arrow, .project-arrow_menu__item, .button_play, .communication-contacts__label, .feedback-question_label,
  .checkbox-label, .user-name__label, .feedback-contacts__label, .button-contacts:hover{
    cursor: pointer;
}

.button-play:active{
    box-shadow: inset 0 0 10px rgba(92, 88, 84, 0.8)
}

.button:active{
    box-shadow: inset 0 0 10px rgba(92, 88, 84, 0.8)
}

.button-contacts:active{
    box-shadow: inset 0 0 10px rgba(92, 88, 84, 0.8)
}

.header-menu{
    display: flex;
    list-style: none;  
    justify-content: space-between;
    margin-left: 35px;
}

.header-menu__item{
    margin-right: 53px;
}

.header-menu__link{
    color: white;
}

.header-menu__link:hover{
    color:#E3B873;
}

.home{
    background-image: url('/images/image_1.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.home-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);    
}

.home-content{
    position: relative;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.title{
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

h1{
    font-size: 40px;
    line-height: 53px;
}

h2{
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em; 
}

h3{ 
    font-size: 20px;
    line-height: 28px;
}

h4{
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #363636;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
}

.white-text{
    color: #FFFFFF !important;
}


.projects{
    background-color: #131313;
    padding-top: 89px;
    padding-bottom: 393px;
}

.project-navigation{
    margin-bottom: 50px;
}

.project-menu{
    display: flex;
    justify-content: right;
    list-style: none;
}

.project-menu__item{
    margin-right: 60px;
}

.project-menu__link{
    font-family: 'Yeseva One','Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.project-menu__link:hover{
    color:#E3B873;
    text-decoration: underline;
}

.project-content p{
    font-size: 14px;
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.project-content__parameters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    margin-bottom: 10px;
}

.project-content__parameters__item{
    margin-right: 10px;
    margin-bottom: 38px;
}

.project-content__parameters__item_value{
    font-size: 13px;
    color: #FFFFFF;
    display: block;
    margin-top: 9px;  
}

.project-content__arrow-navigation{
    display: flex;    
}

.project-content__arrow-menu, .project-content{
    display: flex;
    justify-content: space-between;  
}  

.project-content__arrow-menu__item{
    list-style-image: url('/images/icon_point.svg');
    margin-right: 26px;    
}

.project-content__arrow-menu__item:hover{
    list-style-image: url("/images/icon_point_white.svg");
}

.arrow{
    margin-right: 7px;
}

.project-content__arrow-button{
    background: none;
    border-style: none;
}

.project-image{
    max-height: 482px;
}

.online-control{
    margin-top: -325px;
    margin-bottom: 100px;
}

.center{
    text-align: center;
}

.title-icon{
    margin: 14px auto 26px;
}

.video{
    position: relative;
}
    
hr {
    margin-top: 54px;
    margin-bottom: 29px;
    max-width: 55px;
    border: none; 
    background-color: #E3B873; 
    color: #E3B873; 
    height: 2px; 
} 
   
.online-control p{
    max-width: 681px;
    margin: 0px auto 79px;
    line-height: 37px;
    font-size: 18px;
}

.user-name{
    display: flex;
    justify-content: space-between;
    max-width: 766px;
    margin: 0px auto 33px;
}

.user-name__label{
    text-align: left;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    width: 231px;
}

.user-name__text-field{  
    color: #363636;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);    
}

.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}

.checkbox-text{
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.types-Of-Repair__img{
    display: flex;
    justify-content: space-between;
}

.types-Of-Repair h3{
    color: #181818;
}

.types-Of-Repair__list{
    text-align: left;
    margin: 292px auto 0;
    background-color: #FFFFFF;
    max-width: 330px;
    padding-top: 21px;
    padding-left: 31px;
    padding-bottom: 49px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types-Of-Repair__img__item{
    width: 392px;
    background-repeat: no-repeat;
}

.types-Of-Repair__img_item1{
    background-image: url("/images/image_4.1.jpg");
}

.types-Of-Repair__img_item2{
    background-image: url("/images/image_4.2.jpg");
}

.types-Of-Repair__img_item3{
    background-image: url("/images/image_4.3.jpg");
}    
   
.types-Of-Repair__list ul{
    margin-left: -23px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-top: 9px;
}

.types-Of-Repair__price{
    background-color: #E3B873;
    text-transform: uppercase;
    width: 228px;
    height: 54px;
    display: block;
    padding-top: 14px;
    margin-left: -34px;
    margin-bottom: -76px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    text-align: center;
}

.types-Of-Repair{
    padding-top: 39px;
    padding-bottom: 155px;
}

.communication{
    background-image: url(/images/image_5.1.jpg);
    background-repeat: no-repeat;
    padding-top: 105px;
    padding-bottom: 210px;
}

.communication-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 509px;
}

.communication-text__item{
    display: flex;
    justify-content: start;
    margin: 4px 0px 83px 151px;
}
.communication-text__item__icon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #E3B873;
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.15);
    text-align: center;
    padding-top: 7px;
    margin: auto 0; 
    border: 8px solid #FFFFFF;
}

.communication-text__item__text{
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin: auto 9px;
}

.communication-content{
    display: flex;
    justify-content: space-between;
}

.communication-contacts{
    max-width: 506px;
    max-height: 509px;
    background-color: #131313;
    padding: 27px 49px 27px ;
    display: flex;
    flex-direction: column;    
}

.communication-contacts__label{
    margin: 32px 0 15px 0; 
}

.communication-contacts__text-field{
    background-color: #131313;
}

.text-field_black::placeholder { 
    color:#FFFFFF;
    font-size: 14px;
    line-height: 23px;
    opacity: 1; 
}

.text-field_black:-ms-input-placeholder { 
    color: #FFFFFF;
    font-size: 14px;
    line-height: 23px;
}

.text-field_black::-ms-input-placeholder { 
    color: #FFFFFF;
    font-size: 14px;
    line-height: 23px;
}

.communication-contacts__head{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 90px;
}

.communication-contacts button{
   align-self: flex-end;
}

.communication-contacts-checkbox{
    margin-bottom: 38px;
}

.piggy-bank{
    display: flex;
    justify-content: end;
    margin-top: 29px;
    margin-right: 144px;    
}

.piggy-bank p{
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    max-width: 245px;
}

.decoration{
    background-image: url(/images/image_6.png);
    max-height: 864px;

}

.decortion__fix-container{
    display: flex;
    justify-content: space-between;
}

.decoration nav{
    padding-top: 135px;
    
}

.decoration nav ul{
    margin-top: 38px;
    padding-left: 0;
}

.decoration nav ul li{
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    list-style: none;
    margin-bottom: 11px;
}

.decoration nav ul li:hover{
    text-decoration: underline;
    color: #E3B873;
}
  
.decoration-images{
    display: flex;
    justify-content: space-between;
    max-width: 751px;
}

.decoration-images_column1{
    margin-top: -40px; 
    max-width: 354px; 
    margin-bottom: -47px;  
    margin-right: 47px;
}

.decoration-images_column2{
    margin-top: -113px;  
    max-width: 354px; 
    max-height: 937px;
}

.decoration-images img{
    margin-bottom: 33px;    
}

.reviews{
    padding-top: 107px;
    padding-bottom: 0px;
    background: url(/images/image_7.4.png) 0% 100% no-repeat,
                url(/images/image_7.5.png) 100% 100% no-repeat;
    max-height: 1108px; 
    position: relative;    
}

.clients{
    display: flex;
    justify-content: space-between;
}

.under-title{
    max-width: 380px;
    display: inline-block;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-top: -12px;
    margin-bottom: 40px;
}

.clients-card{
    max-width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 26px 33px 0px 20px;
}

.clients-name{
    display: flex;
    margin-bottom: 20px;
}

.photo-frame{
    min-width: 76px;
    min-height: 76px;
    border-radius: 50%;   
}

.clientsPhoto1{
    background-image: url(/images/image_7.1.png);   
}

.clientsPhoto2{
    background-image: url(/images/image_7.2.png);   
}

.clientsPhoto3{
    background-image: url(/images/image_7.3.png);   
}

.clientsName{
    color: #181818;
    margin: auto 24px;
    text-align: left;   
}

.clients-card .text-field{
    height: 278px;
    padding-bottom: 10px;
}

.clients-card p{
    font-size: 13px;
    line-height: 22px;
    color: #959595;
    text-align: left;
}

.parameters{
    width: 294px;
    height: 54px;
    background-color: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    padding: 11px 14px;
    margin-left: -20px;      
}

.parameters__meaning{
    margin: auto 11px;
}

.line{
    border-right: 1px solid #FFFFFF;
    margin: -11px 18px -11px 0px;   
}

 .feedback{
     background-color: #181818;
     max-width: 883px;
     margin: 161px auto 0px;
     height: 446px;
     padding: 32px 190px;
     z-index: 1;
     position: relative;
}

 .feedback-contacts{
     display: flex;
     justify-content: space-between;
     margin: 43px 0;
 }

 .feedback-contacts__label{   
    text-align: left; 
    width: 231px; 
}

.feedback-question{
    text-align: left; 
    margin-bottom: 46px;   
}

.span-form{
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);      
}

.feedback-contacts__text-field{
    background-color: #181818;
}

.text-field{
    font-size: 14px;
    line-height: 23px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.text-field_black{
    color:#FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.reviews-overlay{
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 504px;
    position: relative;
    height: 281px;
}

.contacts{
    background-image: url(/images/image_8.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 273px;
}

.contacts-overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.contacts-content{
  position: relative;
}

.contacts h3{
    max-width: 589px;
    margin: 0 auto;
}

.button-contacts{
    background-color: #E3B873;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 0;
    margin: 20px 5px;
}

.button-contacts__icon{
    margin-top: 2px;
}

.contacts iframe{
    margin: 24px auto 61px;
}

.footer{
    height: 133px;
}